---
---

@import "minima";

body {
  background-color: #f4f1ec;
  color: #2b2b2b;
}

.page-content {
  font-size: 1.05rem;
  line-height: 1.7;
}

h1, h2, h3 {
  color: #1f2a24;
}

a {
  color: #4a6a5c;
}

a:hover {
  color: #2f4f44;
}

.site-header {
  border-bottom: 1px solid #cfc8bc;
  background-color: #ede9e2;
}
